.line1 {
    text-align: center;
    font-family: Montserrat, sans-serif;
    color: #BF1E2E;
}

.line2 {
    text-align: center;
    font-family: Montserrat, sans-serif;
    color: #555;
}

.line3 {
    text-align: center;
    font-family: Montserrat, sans-serif;
    color: #888;
    font-size: 1.1em;
}

.imagen {
    text-align: center;
}

.imagen img {
    width: 40%;
}

@media (min-width: 480px) {
    .imagen img {
        width: 10%;
    }
}

@media (min-width: 600px) {
    .imagen img {
        width: 10%;
    }
}

@media (min-width: 768px) {
    .imagen img {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .imagen img {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .imagen img{
        width: 100%;
    }
}

.bg1 {
    background: url(../images/bg1.png) no-repeat center center fixed;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}