.line1 {
    font-size: 2em;
    text-align: center;
    font-family: Montserrat, sans-serif;
    color: #FFF;
    background-color: #ff8f00;
}

.line2 {
    font-size: 1.5em;
    text-align: center;
    font-family: Montserrat, sans-serif;
    color: #444;
}

.imagen_center {
    width: 90%;
}

@media (min-width: 768px) {
    .line1 {
        font-size: 3em;
    }

    .line2 {
        font-size: 2em;
    }
}

@media (min-width: 992px) {
    .line1 {
        font-size: 4em;
    }

    .line2 {
        font-size: 2.5em;
    }
}

@media (min-width: 1200px) {
    .line1 {
        font-size: 5em;
    }

    .line2 {
        font-size: 3.5em;
    }
}